<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="~{fragments/head}"></th:block>
</head>

<body id="page-top">
 <th:block th:include="~{fragments/navbar}"></th:block>
 <div class="container">
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
   <h1 class="h3 mb-0 text-gray-800">Event preview</h1>
  </div>
  <form class="form" th:action="@{/purchases/buy}" th:method="post"
   th:object="${eventViewModel}">
    <div class="form-group">
     <label for="inputTitle">Title</label> <input type="text"
      class="form-control" id="inputTitle" placeholder="Event title"
      th:field="*{title}" disabled>
   
   </div>
   <div class="form-group">
    <label class="my-1 mr-2" for="type">Type</label> <select
     class="custom-select my-1 mr-sm-2" id="type"
     th:field="*{eventType}" disabled>
     <option
      th:each="type: ${T(dev.popov.bookify.domain.model.binding.EventTypeBindingModel).values()}"
      th:value="${type}" th:text="${type}"></option>
    </select>
   </div>
   <div class="form-group">
    <label for="address">Address</label> <input type="text"
     class="form-control" id="address" placeholder="Event location"
     th:value="*{address}" disabled>
   </div>
   <div class="form-group">
    <label for="expiresOn">Expiration date</label> <input type="text"
     class="form-control" id="expiresOn" placeholder="Event location"
     th:value="*{expiresOn}" disabled>
   </div>
   <div>
    <label for="price">Price</label>
    <div id="price" class="input-group mb-3">
     <div class="input-group-prepend">
      <span class="input-group-text">EUR</span>
     </div>
     <input type="number" class="form-control" th:field="*{price}"
      disabled>
    </div>
   </div>
   <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="5"
     th:field="*{description}" disabled></textarea>
   </div>
   <br/>
   <br/>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
   <h1 class="h3 mb-0 text-gray-800">Purchase details</h1>
  </div>
    <div class="form-group">
     <label for="*{vouchersCount}">Available vouchers</label> <input
      type="number" class="form-control text-center" id="*{vouchersCount}"
      placeholder="Number of available vouchers" min="1" th:max="*{vouchersCount}"
      th:field="*{vouchersCount}" required="required">
    </div>
   <button type="submit" class="btn btn-primary btn-lg btn-block">Purchase</button>
  </form>
 </div>
 <th:block th:include="~{fragments/footer}"></th:block>

 <a class="scroll-to-top rounded" href="#page-top"> <i
  class="fas fa-angle-up"></i>
 </a>

 <th:block th:include="~{fragments/logout_modal}"></th:block>
 <th:block th:include="~{fragments/core_js_imports}"></th:block>
</body>
</html>

