<th:block th:fragment="event_edit_modal">
	<div class="modal fade" th:id="|event_edit_modal_*{id}|">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" th:text="|*{title} - Edit|"></h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:id="|event_edit_form_*{id}|" class="form"
					th:action="@{'/events/edit/' + *{id}}" th:method="put">
					<div class="modal-body">
						<div class="form-group">
							<label for="editUserFirstName" class="font-weight-bold">Title
								Name</label> <input type="text" class="form-control text-center"
								id="editUserFirstName" name="firstName"
								th:value="*{contact.firstName}" />
						</div>
					</div>
					<div class="modal-footer d-flex justify-content-between">
						<button type="submit" class="btn btn-success" data-dismiss="modal"
							th:onclick="javascript:$('#event_edit_form_' + [[*{id}]]).submit()">Save
							Changes</button>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
