<th:block th:fragment="event_details_modal">
 <div class="modal fade" th:id="|event_details_modal_*{id}|">
  <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">
    <div class="modal-header">
     <h5 class="modal-title" th:text="|*{title} - Details|"></h5>
     <button type="button" class="close" data-dismiss="modal"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <form th:id="|event_details_form_*{id}|" class="form">
     <div class="modal-body">
      <div class="form-group">
       <label for="event-details-id" class="font-weight-bold">id</label>
       <input type="text" class="form-control text-center"
        id="event-details-id" name="id" th:value="*{id}" disabled />
      </div>
      <div class="form-group">
       <label for="event-details-title" class="font-weight-bold">Title
       </label> <input type="text" class="form-control text-center"
        id="event-details-title" name="title" th:value="*{title}"
        disabled />
      </div>
      <div class="form-group">
       <label for="event-details-price" class="font-weight-bold">Price
       </label> <input class="form-control text-center" type="number"
        name="price" id="event-details-price" th:value="*{price}"
        disabled />
      </div>
      <div class="form-group">
       <label for="event-details-address" class="font-weight-bold">Address</label>
       <input class="form-control text-center" type="text"
        name="telephone" id="event-details-price" th:value="*{address}"
        disabled />
      </div>
      <div class="form-group">
       <label for="event-details-vouchers-count"
        class="font-weight-bold">Available Vouchers</label> <input
        class="form-control text-center" type="number"
        name="vouchersCount" id="event-details-vouchers-count"
        th:value="*{vouchersCount}" disabled />
      </div>
      <div class="form-group">
       <label for="event-details-description">Description</label>
       <textarea class="form-control" id="event-details-description"
        rows="5"></textarea>
      </div>
     </div>
     <div class="modal-footer d-flex justify-content-between">
      <button type="button" class="btn btn-danger btn-block"
       data-dismiss="modal" data-toggle="modal"
       th:data-target="|#event_edit_modal_*{id}|">Edit</button>
     </div>
    </form>
   </div>
  </div>
 </div>
</th:block>