<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="~{fragments/head}"></th:block>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body id="page-top">
 <th:block th:include="~{fragments/navbar}"></th:block>

 <div class="container">
  <div class="row">
   <div class="col-md-3 ">
    <div class="list-group">
     <div
      class="d-sm-flex align-items-center justify-content-between mb-3">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
     </div>
     <a th:href="@{/users/profile/settings}"
      class="list-group-item list-group-item-action">User settings</a> <a
      th:href="@{/users/profile/settings/password}"
      class="list-group-item list-group-item-action active">Change
      password</a>
    </div>
   </div>
   <div class="col-md-9">
    <div class="card">
     <div class="card-body">
      <div class="row">
       <div class="col-md-12">
        <h4>Change password</h4>
        <hr>
       </div>
      </div>
      <form th:object="${userPasswordChangeBindingModel}"
       th:action="@{/users/profile/settings/password}" th:method="put">
       <div class="row">
        <div class="col-md-12">
         <div class="form-group row">
          <input type="hidden" th:field="*{username}"> <label
           for="password" class="col-4 col-form-label">Current
           password</label>
          <div class="col-8 mb-5">
           <input id="password" placeholder="Current password"
            class="form-control here" type="password"
            required="required" th:field="*{password}"> <small
            id="passwordError" th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"></small>
          </div>
         </div>
         <div class="form-group row">
          <label for="newPassword" class="col-4 col-form-label">New
           password</label>
          <div class="col-8">
           <input id="newPassword" placeholder="New password"
            class="form-control here" type="password"
            required="required" th:field="*{newPassword}"> <small
            id="newPasswordError"
            th:if="${#fields.hasErrors('newPassword')}"
            th:errors="*{newPassword}"></small>
          </div>
         </div>
         <div class="form-group row">
          <label for="confirmNewPassword" class="col-4 col-form-label">Confirm
           new password</label>
          <div class="col-8">
           <input id="confirmNewPassword"
            placeholder="Confirm new password" class="form-control here"
            type="password" required="required"
            th:field="*{confirmNewPassword}"> <small
            id="confirmNewPasswordError"
            th:if="${#fields.hasErrors('confirmNewPassword')}"
            th:errors="*{confirmNewPassword}"></small>
          </div>
         </div>

         <div class="form-group row">
          <div class="offset-4 col-8">
           <button type="submit" class="btn btn-danger btn-block">Change</button>
          </div>
         </div>
        </div>
       </div>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>


 <th:block th:include="~{fragments/logout_modal}"></th:block>
 <th:block th:include="~{fragments/core_js_imports}"></th:block>
 <script>
		$(document).ready(function() {

			var readURL = function(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function(e) {
						$('.avatar').attr('src', e.target.result);
					}

					reader.readAsDataURL(input.files[0]);
				}
			}

			$(".file-upload").on('change', function() {
				readURL(this);
			});
		});
	</script>
 <th:block th:include="~{fragments/footer}"></th:block>

 <a class="scroll-to-top rounded" href="#page-top"> <i
  class="fas fa-angle-up"></i>
 </a>

 <th:block th:include="~{fragments/logout_modal}"></th:block>
 <th:block th:include="~{fragments/core_js_imports}"></th:block>

</body>
</html>
