<th:block th:fragment="events_side_panel">
	<div class="sidebar-heading">Events</div>
	<li class="nav-item"><a class="nav-link collapsed" href="#"
		data-toggle="collapse" data-target="#collapsePages"
		aria-expanded="true" aria-controls="collapsePages"> <i
			class="fas fa-fw fa-chart-area"></i> <span>Events</span>
	</a>
		<div id="collapsePages" class="collapse"
			aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Actions:</h6>
				<th:block sec:authorize="isAuthenticated()">
					<a class="collapse-item" th:href="@{/events/create}">Create</a>
				</th:block>
				<a class="collapse-item" th:href="@{/events/browse}">Browse</a>
			</div>
		</div></li>
</th:block>
