<!DOCTYPE html>
<html lang="en">

<head>
<th:block th:include="~{fragments/head}"></th:block>
</head>

<body id="page-top">

 <th:block th:include="~{fragments/navbar}"></th:block>
 <div class="container-fluid">
  <div class="text-center">
   <div class="error mx-auto" th:text="403" data-text="403"></div>
   <p class="lead text-gray-800 mb-5" th:text="|Forbidden - ${errorMessage}|"></p> 
    <a th:href="@{/home}">&larr; Back to Dashboard</a>
    <br/>
    <a th:href="@{/users}">&larr; Back to Users list</a>
  </div>
 </div>
 <br />
 
 <th:block th:include="~{fragments/footer}"></th:block>
 <th:block th:include="~{fragments/logout_modal}"></th:block>
 <th:block th:include="~{fragments/core_js_imports}"></th:block>
</body>
</html>
