<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="~{fragments/head}"></th:block>
<link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}"
	rel="stylesheet">
</head>

<body id="page-top">
	<th:block th:include="~{fragments/navbar}"></th:block>
	<div class="container-fluid">
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">List of all events
				</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Type</th>
								<th>Price</th>
								<th>Event Details</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="event : ${eventListViewModels}"
								th:object="${event}">
								<tr>
									<td th:text="*{name}"></td>
									<td th:text="*{eventType}"></td>
									<td th:text="*{price}"></td>
									<td class="text-center">
										<button class="btn btn-dark" data-toggle="modal"
											th:data-target="|#event_details_modal_*{id}|">Show</button> <th:block
											th:replace="fragments/modals/event/event_details_modal"></th:block>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<th:block th:include="~{fragments/footer}"></th:block>

	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="~{fragments/core_js_imports}"></th:block>
	<script th:src="@{vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{vendor/datatables/dataTables.bootstrap4.min.js}"></script>
	<script th:src="@{js/demo/datatables-demo.js}"></script>
</body>
</html>