<th:block th:fragment="user_delete_modal">
	<div class="modal fade" th:id="|user_delete_modal_*{id}|">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<form th:id="|user_delete_form_*{id}|" class="form"
					th:action="@{'/users/delete/' + *{id}}" th:method="delete">
					<div class="modal-footer d-flex justify-content-between">
						<button type="submit" class="btn btn-success" data-dismiss="modal"
							th:onclick="javascript:$('#user_delete_form_' + [[*{id}]]).submit()">Delete</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>
